<!-- Maven settings.xml

     Maven settings are typically copied to ~/.m2/settings.xml

    This file can be used with "mvn -s /path/to/settings.xml"
    and relies on SRC_DIR environment variable to
    locate the composite repo
  -->
<settings>

  <mirrors>
    <mirror>
      <!--This sends everything else to /public -->
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>http://ctrl-ci.sns.gov:8081/nexus/content/groups/public</url>
    </mirror>
  </mirrors>

  <localRepository>${env.CSS_M2_LOCAL}</localRepository>

  <profiles>
    <profile>
      <id>my-css-settings</id>

      <repositories>
	<!-- P2 REPOSITORIES -->
	<!-- This setting overrides the repository settings in css-thirdparty -->
	<repository>
	  <id>eclipse</id>
	  <url>http://ctrl-ci.sns.gov:8081/nexus/content/repositories/neon-releases/</url>
	  <layout>p2</layout>
	</repository>
	<repository>
	  <id>eclipse-updates</id>
	  <url>http://ctrl-ci.sns.gov:8081/nexus/content/repositories/eclipse-updates-4.6/</url>
	  <layout>p2</layout>
	</repository>

	<!--Enable snapshots for the built in central repo to direct -->
	<!--all requests to nexus via the mirror -->
	<!-- URLS are bogus. They will be overridden by the mirror url above -->
        <repository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
     <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>


      <properties>
        <!-- Path to your composite repo -->
        <csstudio.composite.repo>${env.CSS_COMP_REPO}</csstudio.composite.repo>

        <eclipse-site>http://ctrl-ci.sns.gov:8081/nexus/content/repositories/neon-releases</eclipse-site>
        <eclipse-update-site>http://ctrl-ci.sns.gov:8081/nexus/content/repositories/eclipse-updates-4.6</eclipse-update-site>
        <rap-site>http://ctrl-ci.sns.gov:8081/nexus/content/repositories/rt-rap-3.0</rap-site>
        <rap-gef-site>http://ctrl-ci.sns.gov:8081/nexus/content/repositories/rap-gef-nightly</rap-gef-site>
        <swtbot-site>http://ctrl-ci.sns.gov:8081/nexus/content/repositories/swtbot-snapshots</swtbot-site>
	<pydev-site>http://ctrl-ci.sns.gov:8081/nexus/content/repositories/pydev-updates</pydev-site>

	<!-- override download site for maven-osgi-bundles and cs-studio-thirdparty
	This really need to be done, but the configs for maven-osgi bundles and thirdparty compose
	urls that cannot be supported in nexus 2.
	And they use the same tag, so a single override can't work
	<download.root>http://download.controlsystemstudio.org</download.root>
	<cs-studio-central.url>${download.root}/maven-osgi-bundles/${cs-studio.version}</cs-studio-central.url>
	<cs-studio-central.url>${download.root}/thirdparty/${cs-studio.version}</cs-studio-central.url>
	-->

       <!-- Setting this property DISABLES
            downloads from
            download.controlsystemstudio.org,
            so you use only your composite repo -->
        <cs-studio>dummy_value</cs-studio>

        <tycho.localArtifacts>ignore</tycho.localArtifacts>

        <!-- Issue warnings instead of aborting on error -->
        <baselineMode>warn</baselineMode>
        <jgit.dirtyWorkingTree>warning</jgit.dirtyWorkingTree>

        <!-- Skip unit tests -->
        <maven.test.skip>true</maven.test.skip>
        <skipTests>true</skipTests>
      </properties>
    </profile>
  </profiles>

  <!-- Mirrors to avoid strange timeout problems at SNS:
       "Connect to repo.maven.apache.org:443 [repo.maven.apache.org/23.235.46.215] failed:
        Operation timed out"
  <mirrors>
    <mirror>
      <id>maven-central</id>
      <name>Maven Central</name>
      <url>https://repo1.maven.org/maven2</url>
      <mirrorOf>central</mirrorOf>
    </mirror>

    <mirror>
      <id>google-maven-central</id>
      <name>Google Maven Central</name>
      <url>https://maven-central.storage.googleapis.com</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
  </mirrors>
    -->

  <!-- Enable the above settings -->
  <activeProfiles>
    <activeProfile>my-css-settings</activeProfile>
  </activeProfiles>
</settings>
